@import '../../assets/styles/layout';

.wrapper {
  max-width: 75rem;
  margin: 2rem auto;
  padding: 1rem;
}

.title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 2rem;

  @include media("min", "md") {
    font-size: 2.25rem;
  }
}

.listWrapper {
  padding: 1.25rem;
  border-radius: 0.5rem;
  background: rgba($accent, 0.1);
}

.listItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  .listItem {
    margin-left: 1rem;
  }
}

.listName {

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &:not(.toggle) {
    pointer-events: none;
  }

  &.toggle {
    position: relative;
    padding-right: 1.25rem;
    @include transition-time;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      @include transition-time;
    }

    &::after {
      content: '+';
      opacity: 1;
      transform: translateY(-50%) rotate(0);
    }

    &::before {
      content: '-';
      opacity: 0;
      transform: translateY(-50%) rotate(180deg);
    }

    &:hover {
      color: $accent;
    }

    &.opened {
      color: $accent;

      &::after {
        opacity: 0;
        transform: translateY(-50%) rotate(180deg);
      }

      &::before {
        opacity: 1;
        transform: translateY(-50%) rotate(0);
      }
    }
  }
}


//loader
.loaderBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba($white, 0.75);
  z-index: 9999;
  backdrop-filter: blur(0.25rem);
}

.loaderWrapper {
  position: relative;
  margin: 0 auto;
  width: 3rem;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.loaderIcon {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  stroke: $accent;
}

.loaderPath {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}