@import '../../assets/styles/layout';

.wrapper {
  max-width: 75rem;
  margin: 2rem auto;
  padding: 1rem;
}

.title {
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 2rem;

  @include media("min", "md") {

  }
}

.listWrapper {
  padding: 1.25rem;
  border-radius: 0.5rem;
  background-color: rgba($accent, 0.1);
}

.listItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  .listItem {
    margin-left: 1rem;
  }
}

.listName {
  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  &.toggle {
    position: relative;
    padding-right: 1.25rem;
    @include transition-time;
    cursor: pointer;

    &::before,
    &::after {
      width: 0.375rem;
      height: 0.375rem;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      @include transition-time;
    }

    &::after {
      content: '+';
      opacity: 1;
      transform: translateY(-50%) rotate(0);
    }

    &::before {
      content: '-';
      opacity: 0;
      transform: translateY(-50%) rotate(180deg);
    }

    &:hover {
      color: $accent;
    }

    &.opened {
      &::after {
        opacity: 0;
        transform: translateY(-50%) rotate(180deg);
      }

      &::before {
        opacity: 1;
        transform: translateY(-50%) rotate(0);
      }
    }
  }
}

.showMoreWrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.showMore {
  border-radius: 0.625rem;
  padding: 0.75rem 3rem 1rem;
  background-color: $accent;
  font-size: 1rem;
  font-weight: 600;
  color: $white;
  cursor: pointer;
  user-select: none;
  @include transition-time;

  &:hover {
    color: $primary;
    background-color: rgba($accent, 0.5);
  }

  &:active,
  &:focus {
    color: $primary;
    background-color: $accent;
    box-shadow: inset 0 0 0 2px $accent, 0 0 0 1px rgba($accent, 0.25), 0 0 0 4px rgba($accent, 0.3);
  }
}