// media query
$sizes: (
        "xs":415px,
        "sm":576px,
        "md":768px,
        "lg":992px,
        "xl":1200px
);
@mixin media($minmax, $media) {
    @each $size, $resolution in $sizes {
        @if $media == $size {
            @media only screen and (#{$minmax}-width: $resolution) {
                @content;
            }
        }
    }
}

//transitions
@mixin transition-time() {
    transition: .25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
