@import 'mixins';
@import 'reset';
@import 'vars';
@import 'fonts';

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 600;
  background-color: $lightBg;

  @include media("min", "md") {
    font-size: 1.175rem;
  }
}

::-webkit-scrollbar-track {
  background-color: $white;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($accent, 0.5);

  &:hover {
    background-color: rgba($accent, 0.75);
  }
}