@import 'mixins';
@import 'reset';
@import 'vars';
@import 'fonts';

body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $primary;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 500;
    background-color: $lightBg;
}